* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
    background: #18479E;
    margin: 0;
    width: 100%;
    padding: 10px;
}

.header_txt {
    color: white;
    font-family: sans-serif;
}